.empty-page {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    img {
      max-width: 300px;
    }
  }

  &--text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}